body{
	background-image: url("img/1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;	
}
.container{
	background-color: #eeec; 
	margin-top: 20px;
	margin-bottom: 20px;

}
#header{
	background: #111; 
	color: white;
	padding: 10px;
}
#left_col{
	background-color: black;
	color: white;
}
#module_list div{
	color: blue;
	display: block;
}
#module_list div ul{
	color: black;
}
ul.menu {  
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.menu li {
  display: inline-block;
 /* margin: 20px;*/
}
ul.menu li a i.fa {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0px;
  border-radius: 40px;
  color: #424242;
  position: relative;
  transition: all ease 0.2s;
}
ul.menu li a i.fa::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 40px;
  background-color: #9E9E9E;
}
ul.menu li a i.fa:hover {
  color: #fff;
  font-size: 18px;
}
ul.menu li a i.fa:hover::after {
  animation: animate ease 0.6s forwards;
}
ul.menu li a i.fa-facebook:hover::after {
  background-color: #3b5998;
}
ul.menu li a i.fa-twitter:hover::after {
  background-color: #00aced;
}
ul.menu li a i.fa-instagram:hover::after {
  background-color: #8a3ab9;
}
ul.menu li a i.fa-youtube-play:hover::after {
  background-color: #ff0000;
}

@keyframes animate {
  0%,20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: #9E9E9E;
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  60%,100% {
    transform: scale(1);
    border-radius: 5px;
  }
}
.seehere {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ff0000;
}
